<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title class="name">Marcos Collado - Graphic Designer/FrontEnd dev</title>
	</head>
	<body>

		<div class="flex_container">

				<div id="contact_wrap" class="skiny_wrap">
					<h1 id=title>Who am I?</h1>

						<div class="text">
							<p> Graphic Designer/Web Developer </p>
							<p id='alignment'>My name is Marcos, and I am a UI/UX Designer,with a great passion for Typography,
								 I am currently working on my own web font and working hard to become Front-end developer,
								 I recently finished an intensive bootcamp at Ironhack to have the hybrid profile Designer/Programmer known as: Unicorn.

							 I have been working lately using Ruby, Ruby on rails, HTML, CSS and Javascript.</p>

							 <p>26 yr old</p>

							<p>Specialities: Javascript ,HTML, CSS, Ruby on rails, Photoshop, Illustrator , Indesign, Sketch.</p>
						</div>
				</div>

				<div id="contact_photo_wrap" class="skiny_wrap">
					<div id="photo"> </div><br>
					<%= link_to image_tag("ln.png",size:'24'), "https://es.linkedin.com/in/marcoscolladosegura"%>
					<%= link_to image_tag("git.png",size:'24'), "https://github.com/MortimerJarasemy"%>

				</div>

		</div>

	</body>
</html>
