<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title class="name">Marcos Collado - Graphic Designer/FrontEnd dev</title>
	</head>
	<body>

		<h1 id=title>Dev Log</h1>
			<div id="post_wrap" class="skiny_wrap">
					<div class="post">
						<p> Graphic Designer/Fullstack Web Jr </p>
						<p>26 yr old</p>
						<p>With a long developed passion for the world of digital design, UI/UX and typography,
						I decided to hybrid my profile studying web developement aswell, learning HTML, CSS, JS, Ruby and
						Ruby on Rails I was born in France, however I have visited and lived in many countries, hence I do not
						really mind translating myself to work</p>
					</div>
			</div>


	</body>
</html>
