<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<meta charset="utf-8">
		<title>Marcos Collado - Graphic Designer/FrontEnd dev</title>
	</head>
	<body>

		<h1 id=title>A title</h1>
			<div id="post_wrap" class="skiny_wrap">
				<% @projects.each do |project| %>
					<div class="post">
						<p class="date"><%= post.created_at.strftime('%A, %B %d') %> </p>
						<hr>
					</div>
					<% end %>
			</div>

	</body>
</html>
